body {
  background-color: #fafafa;
}

.answer {
  text-align: right;
}

.collapsible span.badge {
    margin-right: 10px;
}

.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    background-color: transparent;
}

ul.collapsible li {
  transition: 0.3s ease-in-out all;
}

ul.collapsible li:hover {
  background-color: rgba(0,0,0,0.05);
  transition: 0.3s ease-in-out all;
}

ul.collapsible li.active:hover {
  background-color: rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out all;
}

span.badge.new::after {
    content: " sin leer";
}

.toast .toast-action {
  color: #76ff03;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc107;
  -webkit-box-shadow: 0 1px 0 0 #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ffc107;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ffcc80;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active a, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #000;
}

.side-nav .user-view, .side-nav .userView {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 0 !important;
}

.side-nav .user-view .background, .side-nav .userView .background {
    overflow: hidden;
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0px;
    left: -100px;
    z-index: -1;
}

.side-nav .user-view > a, .side-nav .userView > a {
    height: auto;
    padding: 0;
}

ul:not(.browser-default) > li {
    list-style-type: none;
}

.side-nav li {
    float: none;
    line-height: 48px;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 32px;
}

.side-nav {
  height: 100% !important;
}

div.collapsible-body ul li a {
  font-weight: 300;
  padding-left: 50px !important;
}

@media only screen and (min-width : 992px) {
  main {
    padding-left: 300px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}